.todo-header input{
    width: 485px;
    height: 29px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 4px 7px;
}
.todo-header input:focus{
    outline: none;
    border-color: aqua;
    box-shadow: inset 0 1px 1px #9e8383,0 0 8px #c71e1e;
}